<template>
  <div class="addresscomponent">
    <table v-for="(address, index) in addresses" :key="address.id">
      <thead>
        <tr>
          <th>{{ address.alias }}</th>
        </tr>
      </thead>
      <tbody>
<<<<<<< HEAD
=======
      <tr>
          <td>
            {{ address.name}}
          </td>
        </tr>
>>>>>>> final commit
        <tr>
          <td>{{ address.street }}</td>
        </tr>
        <tr>
          <td>
            {{ address.council}}
          </td>
        </tr>
        <tr v-show="showDelete">
          <td>
            <button
              @click="deleteEvent(address.addressId)"
              class="icon"
<<<<<<< HEAD
              icon="trash-alt"
=======
             
>>>>>>> final commit
            >Borrar</button>
            <button
              class="icon"
              @click="editEvent(index)"
<<<<<<< HEAD
              icon="pencil-alt"
=======
            
>>>>>>> final commit
            >Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
<<<<<<< HEAD
//Importing library
=======
>>>>>>> final commit
import axios from "axios";

export default {
  name: "AddressComponent",

  props: {
    addresses: Array,
    showDelete: {
      type: Boolean,
      default: false,
    },
  },

  methods: {
<<<<<<< HEAD
    //Emit edit event
    editEvent(index) {
      this.$emit("edit", index);
    },
    //Emit delete event
=======
    editEvent(index) {
      this.$emit("edit", index);
    },
>>>>>>> final commit
    deleteEvent(id) {
      this.$emit("delete", id);
    },
  },
};
</script>

<style scoped>
table {
  width: 20rem;
  max-width: 85vw;
  border: var(--border);
  display: inline-block;
  margin: 1rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
<<<<<<< HEAD
=======
  margin:2rem;
>>>>>>> final commit
}

thead {
  background: var(--enf-bg-color);
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: justify;
}

td {
  padding: 0.5rem 1rem;
}

.icon {
  margin: 0 0.5rem;
  cursor: pointer;
}
</style>
