<template>
  <div class="clientes">
    <table v-for="(cliente, index) in clientes" :key="cliente.id">
      <thead>
        <tr>
          <th colspan="2">Cliente #{{ cliente.id }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            Nombre:
          </th>
          <td>
            {{ cliente.nombre }}
          </td>
        </tr>
        <tr>
          <th>
            Apellido:
          </th>
          <td>
            {{ cliente.apellido }}
          </td>
        </tr>
        <tr>
          <th>
            Ciudad:
          </th>
          <td>
            {{ cliente.ciudad }}
          </td>
        </tr>
        <tr>
          <th>
            Empresa:
          </th>

          <td>
            {{ cliente.empresa }}
          </td>
        </tr>
        <tr class="buttons">
          <td>
            <button class="boton" @click="deleteClientEvent(index)">
              Borrar
            </button>
          </td>
          <td>
            <button class="boton" @click="editClientEvent(index)">
              Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "ClientComponent",
  props: {
    clientes: Array,
  },

  methods: {
    editClientEvent(index) {
      this.$emit("editar", index);
    },
    deleteClientEvent(index) {
      let data = this.clientes[index].id;
      this.$emit("borrar", data);
    },
  },
  mounted() {
    console.log(this.name);
  },
};
</script>

<style scoped>
.clientes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
table {
  width: 80%;
  max-width: 20rem;
  height: 20rem;
  background: #ffffff;
  color: #000000;
  margin: 1rem;
  padding: 1rem;
}

thead {
  font-size: 1.5rem;
}

tr > * {
  padding: 0.5rem;
}

table td {
  width: 50%;
  text-align: left;
}

tbody th {
  width: 50%;
  text-align: right;
}

.buttons td {
  text-align: center;
}
</style>
