<template>
  <div class="footer">
    <p>
          <a
        href="https://www.linkedin.com/in/martarodriguezseves"
        target="_blank"
        rel="noopener noreferrer"
        >Marta R Seves</a
      >
      — 2020
      </p>
  </div>
</template>

<script>
export default {
  name: "FooterCustom",
};
</script>

<style scoped>
p{
<<<<<<< HEAD
  margin-top:4rem;
=======
  margin-top:8rem;
>>>>>>> final commit
}

</style>
