<template>
  <div id="menu">
    <router-link id="home" :to="{ name: 'Home' }">
      <img src="../assets/GRRR.png" alt="GRRR logo" />
    </router-link>

    <!-- LOGGED -->
    <div class="user nav" v-if="logged">
<<<<<<< HEAD
=======
      <router-link :to="{ name: 'Blog' }" class="icon">
        <img src="../assets/blog.svg" alt="Blog" />
      </router-link>
      <router-link :to="{ name: 'About' }" class="icon">
        <img src="../assets/about.svg" alt="Sobre la autora" />
      </router-link>
>>>>>>> final commit
      <router-link :to="{ name: 'Wishlist', params: { userId } }" class="icon">
        <img src="../assets/wishlist.svg" alt="Lista de deseos" />
      </router-link>
      <router-link :to="{ name: 'Cart' }" class="icon">
        <img src="../assets/shoppingcart.svg" alt="Carrito" />
      </router-link>
<<<<<<< HEAD
      <router-link :to="{ name: 'Profile'}" class="icon">
=======
      <router-link :to="{ name: 'Account'}" class="icon">
>>>>>>> final commit
        <img src="../assets/profile.svg" alt="Perfil de usuario" />
      </router-link>
      <button class="button" @click="logOut()">
        Cerrar sesión
      </button>
    </div>

    <!-- NOT LOGGED -->
    <div class="anonnav" v-else>
      <router-link :to="{ name: 'Blog' }" class="icon">
        <img src="../assets/blog.svg" alt="Blog" />
      </router-link>
      <router-link :to="{ name: 'About' }" class="icon">
        <img src="../assets/about.svg" alt="Sobre la autora" />
      </router-link>
      <router-link :to="{ name: 'Register' }" tag="button" class="button">
        Registro</router-link>
      <router-link :to="{ name: 'Login' }" tag="button" class="button">
       Iniciar sesión
      </router-link>
    </div>

    <!-- SEARCH -->
    <div v-show="showSearch" class="search">
      <input type="text" v-model="search" placeholder="¿Qué andas buscando?" />
      <router-link
        class="button"
        :to="{ name: 'Search', query: { words: search } }"
        tag="button"
        >
        <img src="../assets/search.jpg" alt="Buscar" />
        </router-link
      >
    </div>

  </div>
</template>

<script>
import { clearLogin, getUserId, isLogged } from "../api/utils";

export default {
  name: "MenuCustom",
  data() {
    return {
      userId: getUserId(),
      logged: isLogged(),
      search: "",
    };
  },
  props: {
    showSearch: {
      type: Boolean,
      default: true,
    },
  },
  methods: {
    logOut() {
      clearLogin();
      this.$router.push("/").catch((error) => {
        location.reload();
      });
    },
  },
};
</script>

<style scoped>

#menu {
  width: 100vw;
  border-bottom: var(--border);
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "logo search nav"
    "logo search nav"
    "logo search nav";
}

#home {
  display: flex;
  align-items: center;
  margin: 1rem;
  grid-area: logo;
  max-width: 100vw;
}

#home h1 {
  font-size: 3rem;
  display: inline;
  font-weight: bold;
}

#home img {
  width: 5rem;
  margin-bottom: 2rem;
}

a {
  font-weight: bold;
  color: var(--link-color);
}

.nav {
  font-size: 1.2rem;
  margin: 1rem;
  grid-area: nav;
  display: flex;
  height: min-content;
  justify-self: end;
}

.anonnav button{
color:white;
}

.nav button {
  margin-top: 0;
}

.icon {
  margin: 0 0.3rem;

}

.search img{
  width:25px;
  margin-top:0.04rem;
}
img{
  width:30px;
<<<<<<< HEAD
  margin-top: 0.4rem;
=======
  margin-top: 0.7rem;
>>>>>>> final commit
}

.search {
  border: var(--border);
  overflow: hidden;
  display: flex;
  max-width: 15rem;
  height: 2rem;
  align-self: flex-end;
  justify-self: center;
  margin-bottom: 2rem;
  grid-area: search;
}
<<<<<<< HEAD
=======

>>>>>>> final commit
.search button,
input {
  margin: 0;
  border: none;
  
}

.search button{
  color:black;
  background: black;
}

input {
  height: 100%;
  flex-grow: 1;
  padding: 0.5rem;
}

@media (max-width: 800px) {
  #menu {
    grid-template-areas:
      "nav nav nav"
      "logo logo logo"
      "search search search";
    justify-content: center;
  }

  #home {
    justify-content: center;
    margin: 0;
  }

  .button {
    margin-right: 0;
  }

  .nav {
    justify-self: center;
    margin-bottom: 0;
  }

}
</style>
