<template>
  <div class="ordercomponent">
    <router-link
      class="img"
      tag="figure"
      :to="{ name: 'Product', params: { id: product.productId } }"
    >
      <img :src="getImageName(product.photo)" alt="product.name"
    /></router-link>
    <router-link
      class="name"
      :to="{ name: 'Product', params: { id: product.productId } }"
      tag="h1"
      >{{ product.name }}</router-link
    >
    <div class="info">
      <p>{{ product.price }}€ x {{ product.quantity }}</p>
      <h2>{{ (product.price * product.quantity).toFixed(2) }}€</h2>
    </div>
    <div class="rate">
      <p>Haz una valoración</p>
      <heart-rating
        v-model="rating"
        :show-rating="false"
      ></heart-rating>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "OrderComponent",
  components: {},
  props: {
    product: Object,
  },

  data() {
    return {
      rating: +this.product.rating,
      comment: "",
      rated: false,
      url:
        process.env.VUE_APP_API_URL +
        "/products/" +
        this.product.productId +
        "/rate",
<<<<<<< HEAD
      icon: process.env.VUE_APP_ICON,
=======
>>>>>>> final commit
    };
  },

  methods: {
    newRating(url) {
      const self = this;
      axios
        .post(url, {
          rating: self.rating,
          comment: self.comment,
        })
        .then(function(response) {
          Swal.fire({
            icon: "success",
            title: "¡Graciñas!",
            text: `Has valorado al producto: ${self.product.name} con ${self.rating}/5`,
<<<<<<< HEAD
            confirmButtonText: "Chachi",
=======
            confirmButtonText: "Ok",
>>>>>>> final commit
            buttonsStyling: false,
          });
        })
        .catch((error) => console.log(error));
    },
    getImageName(name){
      return "http://localhost:3000/uploads/" + name;
    },
    changeRating(url) {
      const self = this;
      axios
        .put(url, {
          rating: self.rating,
          comment: self.comment,
        })
<<<<<<< HEAD
        //SuESTOOOOOO HAY QUE MIRRAALO
=======
        //ISTO HAI QUE MIRALO 
>>>>>>> final commit
        .then(function(response) {
          Swal.fire({
            icon: "success",
            title: "¡Graciñas!",
            text: `Has cambiado la valoración del producto: ${self.product.name} a ${self.rating}/5!`,
<<<<<<< HEAD
            confirmButtonText: "Chachi",
=======
            confirmButtonText: "Ok",
>>>>>>> final commit
            buttonsStyling: false,
          });
        })
        .catch((error) => console.log(error));
    },
  },

  watch: {
    rating() {
      if (this.rating !== +this.product.rating) {
        Swal.fire({
          icon: "success",
          title: "Añade un comentario a tu valoración",
          input: "text",
          inputPlaceholder: "Escribe aquí",
          showCancelButton: true,
          confirmButtonText: "¡Hecho!",
          buttonsStyling: false,
        }).then((result) => {
          if (result.isConfirmed) {
            this.comment = result.value || " ";
            if (this.rated) {
              this.changeRating(this.url);
            } else {
              this.newRating(this.url);
            }
            location.reload();
          } else {
            this.rating = +this.product.rating;
          }
        });
      }
    },
  },

  created() {
    this.rated = this.product.rating !== null;
  },
};
</script>

<style scoped>
.ordercomponent{
  background: white;
<<<<<<< HEAD

  padding: 1rem;
  border: var(--border);
  margin: 1rem auto;

=======
  padding: 1rem;
  border: var(--border);
  margin: 1rem auto;
>>>>>>> final commit
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-template-areas:
    "img name rate"
    "img info rate";
}

h1 {
  font-size: 1.5rem;
}

figure {
  width: 100%;
  /*   min-width: 10rem; */

  height: 15rem;
  overflow: hidden;
}

img {
  width: 200px;

}

.name {
  grid-area: name;
}

.img {
  grid-area: img;
  height: 10rem;
}

.info {
  grid-area: info;
}

.rate {
  grid-area: rate;
}

@media (max-width: 800px) {
  .ordercomponent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "name"
      "img "
      "info"
      "rate ";
    align-items: center;
    justify-items: center;
  }
}
</style>
