<template>
  <div id="productcomponent">
    <div class="container">
      <div
        class="products overlay"
        v-show="!product.available"
        @click="goToProduct(product.id)">
<<<<<<< HEAD

=======
>>>>>>> final commit
      </div>

      <div class="products">
        <article @click="goToProduct(product.id)">
          <figure>
            <img :src="getImageName(product.photo)" width="200px" />
            <div
              class="availability"
              :style="{
                background: !product.available
                  ? red
                  : product.type === 'ready'
                  ? green
                  : orange,
              }">
            </div>
          </figure>
          <h2>{{ product.name }}</h2>
          <p class="shop">de {{ product.shopName }}</p>

          <p class="ratingHearts">
<<<<<<< HEAD
            <heart-rating
              
              :rating="+product.avgRating || 0"
              :show-rating="false" class="hearts"
=======
            <heart-rating class="hearts"       
              :rating="+product.avgRating || 0"
              :show-rating="false" 
>>>>>>> final commit
            ></heart-rating>
           Votos | {{ product.votes }}
          </p>

          <p class="price">{{ product.price }}€</p>
        </article>
      </div>
      <p class="delete" @click="deleteEvent()" v-show="showDelete">
        <button>Borrar</button>
      </p>
    </div>
  </div>
</template>

<script>
<<<<<<< HEAD
=======


>>>>>>> final commit
export default {
  name: "ProductComponent",
  props: {
    product: Object,
    showDelete: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      red: "#D1345B",
      green: "#34D1BF",
      orange: "#FF8C00",
    };
  },
  methods: {
    deleteEvent() {
      this.$emit("delete");
    },
    goToProduct(id) {
      this.$router.push({ name: "Product", params: { id: id } });
    },
     getImageName(name){
      return "http://localhost:3000/uploads/" + name;
      console.log(name)
    },
  },
};
</script>

<style scoped>

<<<<<<< HEAD

=======
>>>>>>> final commit
.container {
  max-width: 800px;
  width: 15rem;
  height: 23rem;
  margin: 0 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  border: var(--border);
}

.products {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.overlay {
  opacity: 0.2;
  z-index: 1;
  background: rgb(0, 0, 0);
}

<<<<<<< HEAD
=======

>>>>>>> final commit
.availability {
  height: 0.8rem;
  width: 0.8rem;
  position: absolute;
  top: 8px;
  right: 10px;
  border: 1px solid var(--text-color);
  border-radius: 50%;
}

h2 {
  font-size: 1.1rem;
  margin: 1rem;
  padding: 0;
}

figure {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  top: 0;
  left: 0;
  text-align: center;
  margin-bottom: 0.5rem;
}

img{
  width: 100%;
  height: 100%;
<<<<<<< HEAD
=======
  /* object-fit:cover; */
>>>>>>> final commit
}

.price {
  font-size: 1rem;
}

.delete {
  z-index: 2;
  position: absolute;
  bottom: 8px;
  width: 1rem;
  cursor: pointer;
}

.shop {
  font-size: 0.9rem;
  margin: 0.5rem;
  color:var(--link-color);
}

<<<<<<< HEAD
=======
p{
  text-align: center;
}
>>>>>>> final commit

</style>
