<template>
  <div class="ratings">
    <h2>Valoración del producto</h2>
    <table class="rating" v-for="review in reviews" :key="review.id">
        <thead>
        <tr>
        <th>
<<<<<<< HEAD
            <heart-rating
            
=======
            <span><heart-rating
              :src="hearts"
>>>>>>> final commit
              :rating="+review.rating"
              :increment="0.01"
              :read-only="true"
              class="heart"
              :show-rating="false"
<<<<<<< HEAD
            ></heart-rating> 
=======
              :heart-size="10"
            ></heart-rating> </span>
>>>>>>> final commit
           
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            "{{ review.comment }}"
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
<<<<<<< HEAD
import Raters from 'vue-rate-it';
=======

>>>>>>> final commit
import {HeartRating} from 'vue-rate-it';
export default {
  name: "RatingComponent",
  props: {
    reviews: Array,
<<<<<<< HEAD
=======
   
>>>>>>> final commit
  },
  data() {
    return {
      temp_value: null,
      ratings: [1, 2, 3, 4, 5]
    };
  },
components:{
  HeartRating
} 
}


</script>

<style scoped>
.ratings {
  background: var(--block-bg-color);
  margin: 2rem 1rem;
  padding: 1rem;
  border: var(--border);
}

.rating {
  margin-bottom: 1rem;
}

<<<<<<< HEAD


=======
>>>>>>> final commit
</style>
