<template>
  <div id="shopcomponent">
      
      
    <div class="container">
      <div
        class="shops overlay"
        @click="goToShop(shop.id)">
      </div>
     

      <div class="shops">
          <button @click="goToShop(shop.id)">Ver tienda
        </button>
    
            <h2>{{ shop.name }}</h2>
            <a
            v-show="shop.instagram"
            class="icon"
            :href="shop.instagram"
            target="_blank"
            rel="noopener noreferrer"
            >     
          <img src="../assets/instagram.svg" alt="Instagram logo" class="icon"/>
          </a>
        
    </div>
    </div>
  </div>
</template>

<script>


export default {
  name: "ShopComponent",
  props: {
    shop: Object,
    
  },
  methods: {
    goToShop(id) {
      this.$router.push({ name: "Shop", params: { id: id } });
    },

  },
};
</script>

<style scoped>

button{
margin:1rem;
width:200px;
}

img{
display:block;
margin:auto;
width:20%;
}

.container{ 
margin:2rem;
width:200px;
height: 200px;
text-align:center;
}

</style>
