<template>
  <div id="menu">
<<<<<<< HEAD
    <h1>Perfil</h1>
    <p class="description">
      Edita tu perfil, tus direcciones o haz una valoración de tus pedidos realizados
    </p>
    <div id="nav">
      <router-link :to="{ name: 'Profile' }">Datos personales</router-link> ♥
      <router-link :to="{ name: 'Orders' }">Mis pedidos</router-link> ♥
      <router-link :to="{ name: 'Addresses' }">Mis direcciones</router-link>
=======
   
    <!-- <p class="description">
      Edita tu perfil, tus direcciones o haz una valoración de tus pedidos realizados
    </p> -->
    <div id="nav">
      <router-link :to="{ name: 'Account' }">Datos personales</router-link> ♥
      <router-link :to="{ name: 'Orders' }">Mis pedidos</router-link> ♥
      <router-link :to="{ name: 'Addresses' }">Mis direcciones</router-link> 
      <!-- <router-link :to="{ name: 'AddProduct' }">Mis productos</router-link> ♥
      <router-link :to="{ name: 'AddShop' }">Crear una tienda</router-link> -->
>>>>>>> final commit
    </div>
  </div>
</template>

<script>
export default {
  name: "userMenu",
};
</script>

<style scoped>
#nav {
  width: 40rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  color:var(--link-color)
}

a {
  font-weight: bold;
}

a.router-link-exact-active {
  color: var(--link-color);
}
</style>
