<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: "App",
};
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');

* {
  --link-color: #e4717a;
  --border: 2px solid #000000;
  font-family: "Roboto Mono", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: "Lexend Peta", sans-serif;
  margin: 1rem;
}

.description {
  margin: 1rem;
}

.contentContainer {
  max-width: 1200px;
  margin: 0 auto;
  margin-top:8rem;
}

li.multiselect__element {
  display: inline-block;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  min-height: 100vh;
  max-width: 100vw;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

.productsList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}



<<<<<<< HEAD
/* 
VER ESTO DE AQUI */
=======
/* MIRAR ISTO */
>>>>>>> final commit

/* Buttons */
button {
  padding: 0.2rem 0.5rem;
  margin: 1rem;
  background: #000000;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  border: var(--border);
}

button:disabled {
  cursor: initial;
  background: grey;
}

button:active {
  background: var(--text-color);
  background: white;
  color:black;
}

button:focus {
  outline: none;
}

.swal2-cancel {
  padding: 0.2rem 0.5rem;
  margin: 1rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border: var(--border);
  border-radius: 3px;
}



/* Spinner */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* /Spinner */
</style>
