<template>
  <div class="about">
    <vue-headful title="Sobre la autora"/>

    <menucustom></menucustom>
<div>
    <div class="contentContainer">
      <h1>¿QUIÉN ESTÁ DETRÁS DE GRRR?</h1>
<<<<<<< HEAD
          <img src="../assets/martis.jpg" alt="Marta R Seves" />
=======
          <img src="../assets/martis.jpg" alt="Marta Rodríguez Seves" />
>>>>>>> final commit
        <p>
          ¡Hola! Soy
          <a
            href="https://www.linkedin.com/in/martarodriguezseves/"
            target="_blank"
            rel="noopener noreferrer"
<<<<<<< HEAD
            ><strong>Marta R Seves</strong></a>, este es el proyecto final del módulo de Hack A Boss. Puedes encontrar otros de mis proyectos en GitLab, tales como mi versión en JavaScript del 
            <a
                href="https://gitlab.com/Martarseves/game-of-life.git"
                target="_blank"
                rel="noopener noreferrer"
                >Juego de la vida de Conway</a>
            o 
            <a
                href="https://gitlab.com/Martarseves/entregas-hab.git"
                target="_blank"
                rel="noopener noreferrer"
                >ejercicios varios</a> realizados durante el curso.
        </p>

=======
            ><strong>Marta Rodríguez Seves</strong></a>, este es el proyecto final del módulo de Hack A Boss. Puedes encontrar otros de mis proyectos en GitLab, tales como mi versión en JavaScript del 
          <a
            href="https://gitlab.com/Martarseves/game-of-life.git"
            target="_blank"
            rel="noopener noreferrer"
            >Juego de la vida de Conway
          </a>
            o 
          <a
            href="https://gitlab.com/Martarseves/entregas-hab.git"
            target="_blank"
            rel="noopener noreferrer"
            >ejercicios varios
          </a>
           realizados durante el curso.
        </p>
>>>>>>> final commit
        <p>
          En este proyecto también he querido mostrar un poco de mi misma entre tanto código, sin ir más lejos el logo de la App - GRRR - viene impulsado por el nombre
          que se le dio al movimiento feminista de los 90, ligado a la escena alternativa y cuya finalidad era "cambiarlo todo": El Riot Grrrl. Gracias a este movimiento,
          se generó un sentimiento de comunidad fuertemente vinculado al mundo de la cultura gracias a la filosofía del DIY, Do It Yourself:
          Hazlo tú mismo. 
        </p>

<<<<<<< HEAD
        
=======
>>>>>>> final commit
        <div class="tools">
          <ul class="resources">
            <h2>Recursos</h2>
            <li>
              <strong>♥ Imágenes</strong>:
              <a
                href="https://unsplash.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Unsplash</a
              >,
              <a
                href="https://www.etsy.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Etsy</a
              >,
               <a
                href="https://www.https://giphy.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Giphy</a
              > y 
              <a
                href="https://https://www.flaticon.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Flaticon</a
              >
            </li>
            
            <li>
              <strong>♥ Fuentes</strong>:
              <a
                href="https://fonts.google.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Google Fonts</a
              >
            </li>
          </ul>

          <ul class="front">
            <h2>Frontend</h2>
            <li>
              <a
                href="https://vuejs.org/"
                target="_blank"
                rel="noopener noreferrer"
                >♥ Vue</a
              >
            </li>
          
            <li>
              <a
                href="https://github.com/axios/axios"
                target="_blank"
                rel="noopener noreferrer"
                >♥ Axios</a
              >
            </li>
            <li>
              <a
                href="https://www.npmjs.com/package/dotenv"
                target="_blank"
                rel="noopener noreferrer"
                >♥ Dotenv</a
              >
            </li>
            <li>
              <a
                href="https://github.com/auth0/jwt-decode#readme"
                target="_blank"
                rel="noopener noreferrer"
                >♥ jwt-decode</a
              >
            </li>
            <li>
              <a
                href="https://sweetalert2.github.io/"
                target="_blank"
                rel="noopener noreferrer"
                >♥ SweetAlert2</a
              >
            </li>
            <li>
              <a
                href="https://github.com/troxler/vue-headful"
                target="_blank"
                rel="noopener noreferrer"
                >♥ Vue-Headful</a
              >
            </li>
            <li>
              <a
                href="https://github.com/craigh411/vue-rate-it"
                target="_blank"
                rel="noopener noreferrer"
                >♥ Vue-rate-it</a
              >
            </li>
          </ul>

          <ul class="back">
            <h2>Backend</h2>
            <li>
              <a
                href="https://nodejs.org/"
                target="_blank"
                rel="noopener noreferrer"
                >♥ Node</a
              >
            </li>
            <li>
              <a
                href="https://expressjs.com/es/"
                target="_blank"
                rel="noopener noreferrer"
                >♥ Express</a
              >
            </li>
            <li>
              <a
                href="https://www.npmjs.com/package/mysql2"
                target="_blank"
                rel="noopener noreferrer"
                >♥ MySQL2</a
              >
            </li>
            <li>
              <a
                href="https://www.npmjs.com/package/@hapi/joi"
                target="_blank"
                rel="noopener noreferrer"
                >♥ Joi</a
              >
            </li>
            <li>
              <a
                href="https://sendgrid.com/"
                target="_blank"
                rel="noopener noreferrer"
                >♥ SendGrid</a
              >
            </li>
            <li>
              <a
                href="https://www.npmjs.com/package/body-parser"
                target="_blank"
                rel="noopener noreferrer"
                >♥ Body-Parser</a
              >
            </li>
            <li>
              <a
                href="https://expressjs.com/en/resources/middleware/cors.html"
                target="_blank"
                rel="noopener noreferrer"
                >♥ CORS</a
              >
            </li>
            <li>
              <a
                href="https://date-fns.org/"
                target="_blank"
                rel="noopener noreferrer"
                >♥ Date-fns</a
              >
            </li>
            <li>
              <a
                href="https://www.npmjs.com/package/dotenv"
                target="_blank"
                rel="noopener noreferrer"
                >♥ Dotenv</a
              >
            </li>
            <li>
              <a
                href="https://www.npmjs.com/package/fs-extra"
                target="_blank"
                rel="noopener noreferrer"
                >♥ fs-extra</a
              >
            </li>
            <li>
              <a
                href="https://www.npmjs.com/package/jsonwebtoken"
                target="_blank"
                rel="noopener noreferrer"
                >♥ jsonwebtoken</a
              >
            </li>
            <li>
              <a
                href="https://www.npmjs.com/package/morgan"
                target="_blank"
                rel="noopener noreferrer"
                >♥ Morgan</a
              >
            </li>
            <li>
              <a
                href="https://github.com/lovell/sharp"
                target="_blank"
                rel="noopener noreferrer"
                >♥ Sharp</a
              >
            </li>
            <li>
              <a
                href="https://github.com/uuidjs/uuid"
                target="_blank"
                rel="noopener noreferrer"
                >♥ uuid</a
              >
            </li>
            <li>
              <a
                href="https://github.com/marak/Faker.js/"
                target="_blank"
                rel="noopener noreferrer"
                >♥ Faker</a
              >
            </li>
            <li>
              <a
                href="https://lodash.com/"
                target="_blank"
                rel="noopener noreferrer"
                >♥ Lodash</a
              >
            </li>
            <li>
              <a
                href="https://www.npmjs.com/package/nodemon"
                target="_blank"
                rel="noopener noreferrer"
                >♥ Nodemon</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <footercustom></footercustom>

  </div>
</template>

<script>
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";

import axios from "axios";

export default {
  name: "about",
  components: {
    menucustom,
    footercustom,
  },
};
</script>

<style scoped>

img {
  width: 30rem;
  height:30rem;
  max-width: 80vw;
  border-radius: 50%;
}
<<<<<<< HEAD
=======

>>>>>>> final commit
p {
  margin: 1rem;
  text-align: justify;
}

ul {
  width: fit-content;
  text-align: left;
  display: grid;
  margin: 1rem;
  list-style:none;
}

<<<<<<< HEAD

=======
>>>>>>> final commit
.tools {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

@media (max-width: 800px) {
  .tools {
    grid-template-columns: repeat(2, 1fr);
  }

  .resources {
    grid-column: span 2;
  }
}
</style>
