<template>
  <div class="account">
    <vue-headful title="Perfil" />

    <menucustom></menucustom>

    <div class="contentContainer">

      <usermenu></usermenu>
      <h1>DATOS PERSONALES</h1>

      <form class="profile">

       

        <label for="first_name">Nombre:</label>
        <input
          name="first name"
          placeholder="Nombre"
          type="text"
          id="first_name"
          v-model="user.first_name"
        />

        <label for="last_name">Apellidos:</label>
        <input
          name="last name"
          placeholder="Apellidos"
          type="text"
          id="last_name"
          v-model="user.last_name"
        />

        <label for="email">Email:</label>
        <input
          name="email"
          type="text"
          id="email"
          v-model="user.email"
          placeholder=">Email"
          disabled
        />

        <button class="button" @click.prevent="saveChanges()">Guardar</button>
      </form>
    </div>

    <footercustom></footercustom>

  </div>
</template>

<script>
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
import usermenu from "@/components/UserMenu.vue";

import axios from "axios";
import Swal from "sweetalert2";

import { getUserId } from "../api/utils";

export default {
  name: "Account",
  components: {
    menucustom,
    footercustom,
    usermenu,
  },
  data() {
    return {
      user: {},
      formattedDate: "",
    };
  },

  methods: {
    getInfo() {
      const self = this;
      axios
        .get(process.env.VUE_APP_API_URL + "/users/" + getUserId())
        .then(function(response) {
          self.user = response.data.data;
        })
        .catch((error) => console.log(error));
    },
  
    formatDate(date) {
      date = new Date(date);
      return date.getFullYear() + "-" + date.getMonth() + "-" + date.getDate();
    },
    getImageName(name){
      return "http://localhost:3000/uploads/" + name;
    },

    saveChanges() {
      const self = this;
      axios
        .put(process.env.VUE_APP_API_URL + "/users/" + getUserId(), {
          firstName: self.user.first_name,
          lastName: self.user.last_name,
        })
        .then(function(response) {
          Swal.fire({
            icon: "success",
            title: "¡Perfil actualizado!",
            confirmButtonText: "Ok",
            buttonsStyling: false,
          }).then((result) => {
            location.reload();
          });
        })
        .catch((error) => console.log(error));
    },
  },
  created() {
    this.getInfo();
  },
};
</script>

<style scoped>
.profile {
  border: var(--border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-width: 300px;
  width: 50%;
  height: 50%;
  margin: auto;
}
img {
  width: 10rem;
  border-radius: 50%;
  border: var(--border);
  margin: 1rem;
  height: 10rem;
}

input{
  border:none;
  border-bottom: var(--border);
  margin:1rem;
}
</style>
