<template>
 <div id="addproduct">
     <vue-headful title="GRRR - Añadir producto"/>
     <menucustom></menucustom>

     <div>
          <productcomponent
          v-for="product in products"
          :key="product.id"
          :product="product"
        ></productcomponent>

     </div>

     <h1> Añadir un artículo </h1>
     <ul class="newarticle">
         <li>
             NOMBRE:
             <input class="nameinput" id="name" type="text" v-model="name"/>
         </li>
         <li>
             <label>CATEGORÍA:</label>
             <select name="categorySelector" id="category" v-model="category">
                 <option value="Higiene">Higiene</option>
                 <option value="Menaje">Menaje</option>
                 <option value="Cocina">Cocina</option>
                 <option value="Otro">Otro</option>
             </select>
         </li>
         <li>
             DESCRIPCIÓN:
            <input class="descriptioninput" id="desctiption" type="text" v-model="description"/>
         </li>
         <li>
             PRECIO:
             <input class="priceinput" id="price" type="number" v-model="price"/>
        </li>
        <li>
            STOCK:
            <input class="stockinput" id="stock" type="number" v-model="stock"/>
        </li>
        <!-- <input
          name="available"
          placeholder="Check to show only available products"
          type="checkbox"
          id="available"
          value="available"
          v-model="available"
        />
        <label for="available">Disponible</label> -->
        <li>
            IMAGEN DEL PRODUCTO:
            <input id="file" type="file" ref="photo" @change="catchSeeProduct"/>
        </li>
     </ul>
     <button @click="validateProduct()">Añadir</button>
     <button>Cancelar</button>
     <footercustom></footercustom>
     </div> 
</template>

<script>
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
import productcomponent from "@/components/ProductComponent.vue";


import axios from "axios";
import {getUserId} from "../api/utils";
import Swal from "sweetalert2";

export default {
    name:"AddProduct",
    components: {
    menucustom,
    footercustom,
    productcomponent
  },
    data(){
        return{
            products:[],
            name:"",
            description:"",
            photo:"",
            category:"",
            price:"",
            stock:"",
            shops_id:"",
            // available:"",
            
            createArticle:false
        }
    },
    methods:{getProducts() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API_URL + "/products")
        .then(function(response) {
          self.products = response.data.result;
          self.categories = response.data.categories;
        })
        .catch((error) => console.log(error));
    },
        validateProduct(){
            if(
                this.name===""||
                this.description===""||
                this.price===""||
                this.stock===""||
                this.category===""||
                this.photo===""
            ){
                Swal.fire({
                    icon:"error",
                    title:"¡Ups!",
                    text:"Has dejado campos vacíos"
                });
                this.createArticle=false;
            } else{
                this.createArticle=true;
                this.addProduct();
            }
        },
        catchSeeProduct(){
            this.photo=this.$refs.photo.files[0];
        },
        async addProduct(){
            if(this.createArticle===true){
                try{
                    let token=localStorage.getItem("authToken");
                    axios.defaults.headers.common["Authorization"]=`${token}`;
                        console.log(token)
                    let formData=new FormData();
                    formData.append("name",this.name);
                    formData.append("description",this.description);
                    formData.append("category",this.category);
                    formData.append("price",this.price);
                    formData.append("stock",this.stock);
                    formData.append("photo",this.photo);
                    // formData.append("available",this.available);
                    const response=await axios.post(
                        "http://localhost:3000/products",
                        formData,
                        {header:{"Content-Type":"multipart/form-data"} }
                    );
                    Swal.fire({
                        icon:"success",
                        title:"Se añadió el producto correctamente"
                    });
                } catch(error){
            Swal.fire({
            icon: "error",
            title: "Oops...",
            text: `${error.response.data.message}`,
                });
            }
            // this.available="1";
            this.createArticle=false;
            this.name="";
            this.description="";
            this.price="";
            this.stock="";
            this.photo="";
            this.category="";
        } else {
            console.log("Error");
        }
    },
    },
    created(){
        this.getProducts();
    }
}
</script>

<style>
ul{
    list-style: none;
}
</style>