<template>
  <div class="addresses">

    <vue-headful title="Mis direcciones" />

    <menucustom></menucustom>

<<<<<<< HEAD
    <usermenu></usermenu>

    <div class="contentContainer">
      <h1> TUS DIRECCIONES
        <button class="icon" @click="openNewModal()" icon="plus" >Añadir dirección</button>
      </h1>


=======
<div class="contentContainer">
    <usermenu></usermenu>
    <h1> MIS DIRECCIONES</h1>
    <div class="contentContainer">
      <button class="icon" @click="openNewModal()" icon="plus" >Añadir dirección</button>
>>>>>>> final commit
      <p v-show="!addresses">No tienes direcciones</p>

      <addresscomponent
        :addresses="addresses"
        :showDelete="true"
        @delete="deleteAddress"
        @edit="openEditModal"
      ></addresscomponent>


      <div v-show="modal" class="modal animate__animated animate__fadeIn">
        <form class="modalBox animate__animated animate__fadeInDown">
          <h3>EDITA TU DIRECCIÓN:</h3>
          <label for="alias">Alias:</label>
          <input
            type="text"
            id="alias"
            v-model="address.alias"
            placeholder="Alias"
          />

<<<<<<< HEAD

          <label for="street">Calle:</label>
=======
          <label for="name">Calle, número y portal:</label>
          <input
            type="name"
            name="name"
            v-model="address.name"
            placeholder="Calle, número, portal..."
          />

          <label for="street">Código postal:</label>
>>>>>>> final commit
          <input
            type="text"
            name="street"
            v-model="address.street"
<<<<<<< HEAD
            placeholder="Calle"
          />

        

=======
            placeholder="Código postal"
          />

>>>>>>> final commit
          <label for="council">Localidad:</label>
          <input
            type="text"
            name="council"
            v-model="address.council"
            placeholder="Localidad"
          />
      

          <div>
            <button class="button" @click.prevent="closeModal()">Cerrar</button>
            <button class="button" @click.prevent="save()">Guardar</button>
          </div>
        </form>
      </div>
<<<<<<< HEAD

=======
</div>
>>>>>>> final commit
    </div>

    <footercustom></footercustom>

  </div>
</template>

<script>
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
import addresscomponent from "@/components/AddressComponent.vue";
import usermenu from "@/components/UserMenu.vue";

import axios from "axios";
import Swal from "sweetalert2";


export default {
  name: "Addresses",
  components: {
    menucustom,
    footercustom,
    addresscomponent,
    usermenu,
  },
  data() {
    return {
      addresses: [],
      address: {},
      modal: false,
      newAddress: true,
    };
  },
  methods: {
    getAddresses() {
<<<<<<< HEAD
      var self = this;
=======
      let self = this;
>>>>>>> final commit
      axios
        .get(process.env.VUE_APP_API_URL + "/addresses")
        .then(function(response) {
          console.log(response);
          self.addresses = response.data.addresses;
        })
        .catch((error) => console.log(error));
    },

    deleteAddress(id) {
      axios
        .delete(process.env.VUE_APP_API_URL + "/addresses/" + id)
        .then(function(response) {
          Swal.fire({
            icon: "success",
            title: "Dirección eliminada de favoritos",
<<<<<<< HEAD
            confirmButtonText: "¡Chachi!",
=======
            confirmButtonText: "Ok",
>>>>>>> final commit

            buttonsStyling: false,
          }).then((result) => {
            location.reload();
          });
        })
        .catch((error) => console.log(error));
    },

    editAddress() {
      const self = this;
      axios
        .put(
          process.env.VUE_APP_API_URL + "/addresses/" + self.address.addressId,
          {
            address: self.address,
          }
        )
        .then(function(response) {
          Swal.fire({
            icon: "success",
            title: "Dirección actualizada",
<<<<<<< HEAD
            confirmButtonText: "¡Chachi!",
=======
            confirmButtonText: "Ok",
>>>>>>> final commit
            buttonsStyling: false,
          }).then((result) => {
            location.reload();
          });
        })
        .catch((error) => console.log(error));
    },

    addNewAddress() {
      const self = this;

      axios
        .post(process.env.VUE_APP_API_URL + "/addresses/", {
          address: self.address,
        })
        .then(function(response) {
          Swal.fire({
            icon: "success",
            title: "Dirección añadida con éxito a tus favoritos",
<<<<<<< HEAD
            confirmButtonText: "¡Chachi!",
=======
            confirmButtonText: "Ok",
>>>>>>> final commit
            buttonsStyling: false,
          }).then((result) => {
            location.reload();
          });
        })
        //.catch((error) => console.log(error));
    },

 
    openEditModal(index) {
      this.address = this.addresses[index];
      this.newAddress = false;
      this.modal = true;
    },

  
    openNewModal(index) {
      this.address = {
<<<<<<< HEAD
          alias: "",
=======
        alias: "",
>>>>>>> final commit
        council: "",
        name: "",
        street:"",
      };
      this.newAddress = true;
      this.modal = true;
    },

    closeModal() {
      this.modal = false;
    },

    save() {
      if (this.newAddress) {
        this.addNewAddress();
      } else {
        this.editAddress();
      }
    },
  },
  created() {
    this.getAddresses();
  },
};
</script>

<style scoped>
table {
  width: 90%;
  max-width: 800px;
<<<<<<< HEAD
  margin: 1.5rem auto;
=======
  margin: auto;
>>>>>>> final commit
  border: var(--border);
  padding: 1rem;
}

h2 {
  padding: 0;
<<<<<<< HEAD
=======
  margin-top: 2rem;
}

.contentContainer{
  margin-top:8rem;
>>>>>>> final commit
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}

input{
  border:none;
  border-bottom:var(--border);
}


.modalBox {
  padding: 2rem 1rem;
  width: 80%;
  background:white;
  max-width: 30rem;
  margin: 10rem auto;
  border: var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalBox h3{
  margin-bottom:1rem;
}

.modalBox input{
  margin:1rem;
}

.icon {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modalBox {
    margin: 0;
    font-size: 0.8rem;
    padding: 0.5rem;
<<<<<<< HEAD
    padding-top: 1rem;
=======
>>>>>>> final commit
  }

  input {
    height: 1.3rem;
    margin-bottom: 0.5rem;
  }

  .modalBox .button {
    margin: 0.5rem;
  }
}
</style>
