<template>
 <div id="addproduct">
     <vue-headful title="GRRR - Mi tienda"/>
     <menucustom></menucustom>
     <shopcomponent :shops="shops"></shopcomponent>

     <h1> Añadir una tienda</h1>
     <ul class="newshop">
         <li for="shop.name">
             NOMBRE:
             <input class="nameinput" id="name" type="text" v-model="shop.name"/>
         </li>
         <li>
             DESCRIPCIÓN:
            <input class="descriptioninput" id="description" type="text" v-model="shop.description"/>
         </li>
        <li>
            INSTAGRAM:
            <input class="instagram" id="instagram" type="text" v-model="shop.instagram"/>
        </li>
     </ul>
     <button @click.prevent="addShop()">Añadir</button>
     <button>Cancelar</button>

    
     <footercustom></footercustom>
     </div> 
</template>

<script>
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";


import axios from "axios";
import {getUserId} from "../api/utils";
import Swal from "sweetalert2";

export default {
    name:"AddShop",
    components: {
    menucustom,
    footercustom,

  },
    data(){
        return{
            shopId:"",
            shop:{},
            shops:{},
            shops:[],
            createArticle:false
        }
    },
    methods:{
        validateShop(){
            if(
                this.name===""||
                this.description===""||
                this.instagram===""
            ){
                Swal.fire({
                    icon:"error",
                    title:"¡Ups!",
                    text:"Has dejado campos vacíos"
                });
                this.createShop=false;
            } else{
                this.createShop=true;
                this.addShop();
            }
        },
        async addShop(){
            const self = this;
      axios
        .post(process.env.VUE_APP_API_URL + "/shops", {
          name: self.shop.name,
          description: self.shop.description,
          instagram: self.shop.instagram,
        })
        .then(function(response) {
          Swal.fire({
            icon: "success",
            title: "¡Ahora tienes una tienda!",
            text:"Ahora puedes vender tus productos hechos a mano",
            confirmButtonText: "Ok",
            buttonsStyling: false,
          }).then((result) => {
            (result) => self.$router.push("/account");
          });
        })
        .catch((error) => console.log(error));
    },
    },
    created(){
        this.getShops();
    },
    }
    

</script>

<style>
ul{
    list-style: none;
}
</style>