<template>
  <div class="blog">

    <vue-headful title="GRRR — Blog"/>

    <menucustom></menucustom>

    <div class="contentContainer">

      <div class="description">
        <h1>GRRR — BLOG</h1>
        <h2>ARRRTESÁNS QUE COMPARTEN NUESTROS PRINCIPIOS</h2>
    <ul>
        <li class="monoke">
            <h3>Monoke — A Guarda (Pontevedra)</h3>
            <img src="../assets/monokebrand.jpeg" alt="Monoke brand" />
            <p>
                Monoke es una marca textil que aparece de la mano de Marta Portela.
                Sus prendas se confeccionan con materiales naturales cuya elaboración 
                respeta el medio ambiente: los materiales son 100% orgánicos, por lo que 
                el día que decidas que la prenda ya no encaja contigo puedes desecharla como
                residuo vegetal, que podrá reutilizarse, por ejemplo, como compost. Así esta
                prenda tendrá una segunda vida y contribuirá a mejorar el planeta. Otra 
                curiosidad de esta marca es que un porcentaje del precio de los productos va 
                destinado a varios santuarios de animales de la zona.
            </p>
            <p>
                En palabras de su creadora: «Creo firmemente en el poder del consumo y la 
                fabricación responsables. Por eso, trabajo para emplear únicamente
                con tejidos orgánicos y respetuosos. En Monoke, la confección de las prendas incluye 
                hasta el más mínimo detalle, confiando así en talleres de origen local
                para dejar la menor huella de carbono posible en el entorno».
            </p>
            <p>¡Échale un vistazo a la marca
            <a
                href="https://monokebrand.com/"
                target="_blank"
                rel="noopener noreferrer"
                >aquí</a>!
                </p>
        </li>

        <li class="lasculpass">
            <h3>Las CulpaSS — Barrio de San Juan (Murcia)</h3>
            <img src="../assets/lasculpass.png" alt="Las culpass" />
            <p>
                Las CulpaSS nace como una marca de ropa reivindicativa labrada
                bajo los valores de la autogestión, la producción ética, el upcycling,
                la slow-fashion y el compromiso social. Con el feminismo como leitmotiv
                y la idea de que llegue a todas partes, Las CulpaSS trabaja con
                ediciones limitadas y y ropa unisex desde su pequeño estudio en el centro de Murcia.
                En palabras de sus creadoras, Alexandra y Martaé: «Te ofrecemos una marca con 
                la que decir lo que piensas; un modo de sublevarte a través de las prendas más
                cotidianas con tal de rechazar los estereotipos de género establecidos».
            </p>
            <p>
                Utilizan un discurso subversivo en torno a la figura de la 
                mujer y la feminidad para cuestionar los estereotipos propios de los roles
                tradicionales con el fin de denunciar la desigualdad, el sometimiento y la
                frustración de la mujer que, ya plenamente consciente de sus derechos, los 
                ve negados una y otra vez por una realidad regida mediante un modelo patriarcal
                que evoluciona social, económica y políticamente a un ritmo inferior al que
                lo hace el pensamiento.
            </p>
            <p>¡Échale un vistazo a la marca
            <a
                href="https://lasculpass.com/"
                target="_blank"
                rel="noopener noreferrer"
                >aquí</a>!
                </p>
        </li>
    </ul>
    </div>

    <footercustom></footercustom>

  </div>
  </div>
</template>

<script>
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";

export default {
  name: "Blog",
  components: {
    menucustom,
    footercustom,
  },
  }

  </script>

  <style scoped>

  h3{
    margin:3rem;
  }
<<<<<<< HEAD
  ul{
      list-style: none;
  }

  img{
      float:left;
      margin:1rem;
      width:35%;
  }

  li{
      text-align: justify;
      margin:2rem;
=======

  ul{
    list-style: none;
  }

  img{
    float:left;
    margin:1rem;
    width:35%;
  }

  li{
    text-align: justify;
    margin:2rem;
>>>>>>> final commit
  }

  </style>