<template>
  <div class="cart">
    <vue-headful title="Tu carrito"/>

    <menucustom></menucustom>

    <div class="contentContainer">
      <h1>TU CARRITO</h1>

      <div class="container">
        <div class="productsList">
          <p v-show="!products.length">No hay productos para mostrar</p>
          <productcomponent
            v-for="(product, index) in products"
            :key="product.id"
            :product="product"
            :showDelete="true"
            v-on:delete="deleteProduct(index)"
          >
<<<<<<< HEAD
=======
          
>>>>>>> final commit
          </productcomponent>
        </div>

        <table class="addresses">
          <thead>
            <tr>
<<<<<<< HEAD
              <th>
             Selecciona una dirección
=======
              <th class="addresstitle">
             SELECCIONA UNA DIRECCIÓN:
>>>>>>> final commit
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="address in addresses"
              :key="address.id"
              :class="{ selected: address.id === addressId }"
              @click="addressId = address.id"
            >
<<<<<<< HEAD
              <td>{{ address.alias }}</td>
=======
              <td> ♥ {{ address.alias }}</td>
>>>>>>> final commit
            </tr>
          </tbody>
        </table>
      </div>

      <router-link
        :to="{ name: 'Checkout', params: { addressId } }"
        tag="button"
        class="button"
        :disabled="!checkAvailability || !products[0]"
        >CHECKOUT</router-link
      >

      <p v-show="!checkAvailability">
<<<<<<< HEAD
        Some products are not available right now, please remove them from your
        order.
=======
        Algunos productos ya no están disponibles. Por favor, elimínalos de tu carrito.
>>>>>>> final commit
      </p>

    </div>
   
    <footercustom></footercustom>

  </div>
</template>

<script>
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
import productcomponent from "@/components/ProductComponent.vue";

import axios from "axios";
import Swal from "sweetalert2";

import { getUserId } from "../api/utils";

export default {
  name: "Cart",
  components: {
    menucustom,
    footercustom,
    productcomponent,
  },
  data() {
    return {
      products: [],
      addresses: [],
      addressId: "",
    };
  },
  methods: {
    getProducts() {
<<<<<<< HEAD
      var self = this;
=======
      let self = this;
>>>>>>> final commit
      axios
        .get(process.env.VUE_APP_API_URL + "/orders/cart")
        .then(function(response) {
          self.products = response.data.result;
          self.addresses = response.data.addresses;
          self.addressId = self.addresses[0].id;
        })
        .catch((error) => console.log(error));
    },

    deleteProduct(index) {
      const productId = this.products[index].id;
      axios
        .delete(process.env.VUE_APP_API_URL + "/orders/cart/" + productId)
        .then(function(response) {
          Swal.fire({
            icon: "success",
            title: "Producto eliminado de tu carrito",
<<<<<<< HEAD
            confirmButtonText: "¡Chachi!",
=======
            confirmButtonText: "Ok",
>>>>>>> final commit
            buttonsStyling: false,
          }).then((result) => {
            location.reload();
          });
        })
        .catch((error) => console.log(error));
    },
  },
  created() {
    this.getProducts();
  },

  computed: {
    checkAvailability() {
      let available = true;
      for (const product of this.products) {
        available = available && product.available;
      }
      return available;
    },
  },
};
</script>

<style scoped>
.container {
  display: grid;
  grid-template-columns: 1fr 20rem;
  grid-template-areas: "products addresses";
  justify-items: center;
}

.productsList {
  grid-area: products;
}

.addresses {
  grid-area: addresses;
  width: 100%;
  max-width: 90vw;
<<<<<<< HEAD
=======
  margin:2rem;
>>>>>>> final commit
}

table {
  border: var(--border);
  margin-top: 3rem;
  height: 10rem;
}

thead {
  cursor: default;
<<<<<<< HEAD
=======
 
>>>>>>> final commit
}

tbody {
  cursor: pointer;
}
<<<<<<< HEAD
tr.selected {
  font-weight: bold;
=======


tr.selected {
  font-weight: bold;
  color:var(--link-color);
>>>>>>> final commit
}

@media (max-width: 1000px) {
  .container {
    grid-template-areas:
      "products products"
      "addresses addresses";
  }

  table {
    margin: 0;
  }

  .productsList {
    margin: 0;
  }
}
</style>
