<template>
  <div class="checkout">

    <vue-headful title="Checkout" />

    <menucustom></menucustom>

    <div class="contentContainer">
 
      <h2>Enviar a:</h2>
      <addresscomponent :addresses="[address]"></addresscomponent>

      <button class="button" @click="payOrder()">PAGAR {{ price }}€</button>
    </div>

    <footercustom></footercustom>

  </div>
</template>

<script>
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
import addresscomponent from "@/components/AddressComponent.vue";

import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "Shop",
  components: {
    menucustom,
    footercustom,
    addresscomponent,
  },
  data() {
    return {
      address: {},
      price: null,
    };
  },
  methods: {
    checkOut() {
<<<<<<< HEAD
      var self = this;
=======
      let self = this;
>>>>>>> final commit
      axios
        .put(process.env.VUE_APP_API_URL + "/orders/cart/checkout", {
          addressId: self.$route.params.addressId,
        })
        .then(function(response) {
          self.address = response.data.address;
          self.price = response.data.total.toFixed(2);
        })
        .catch((error) => console.log(error));
    },

    payOrder() {
<<<<<<< HEAD
      var self = this;
=======
      let self = this;
>>>>>>> final commit
      axios
        .put(process.env.VUE_APP_API_URL + "/orders/cart/finish")
        .then(function(response) {
          Swal.fire({
            icon: "success",
            title: "¡Graciñas!",
            text: "Recibirás un email de confirmación a tu correo, ¡no olvides mirar en tu carpeta de spam por si acaso!",
<<<<<<< HEAD
            confirmButtonText: "Chachi",
=======
            confirmButtonText: "Ok",
>>>>>>> final commit
            buttonsStyling: false,
          }).then((result) => {
            self.$router.push("/");
          });
        })
        .catch((error) => console.log(error));
    },
  },
  created() {
    this.checkOut();
  },
};
</script>

<style scoped>
<<<<<<< HEAD
=======

>>>>>>> final commit
table {
  border: var(--border);
  margin: auto;
  padding: 1rem;
}
<<<<<<< HEAD
=======

>>>>>>> final commit
</style>
