<template>
  <div class="error">
    <vue-headful title="Error" />

    <menucustom></menucustom>

    <div class="contentContainer">
      <h1>ERROR 404</h1>
<<<<<<< HEAD
<p>¡Ups! Parece que te has perdido</p>
<p>Puedes volver a inicio haciendo click 
<router-link  :to="{ name: 'Home' }">
  aquí</router-link>.
</p>
=======
      <p>¡Ups! Parece que te has perdido</p>
      <p>Puedes volver a inicio haciendo click 
        <router-link  :to="{ name: 'Home' }">aquí</router-link>.
      </p>
>>>>>>> final commit
        <img src="../assets/smallbusiness.gif" alt="Apoya a los negocios pequeños" />
    </div>

    <footercustom></footercustom>

  </div>
</template>

<script>
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";

import axios from "axios";

export default {
  name: "Error",
  components: {
    menucustom,
    footercustom,
  },
};
</script>

<style scoped>
<<<<<<< HEAD
=======

>>>>>>> final commit
img {
  border-radius: 50%;
  width: 90%;
  min-width: 10rem;
  max-width: 800px;
  max-height: 70vh;
  margin:3rem;
} 
<<<<<<< HEAD
=======

>>>>>>> final commit
</style>
