<template>
  <div class="home">

    <vue-headful title="GRRR — Inicio"/>

    <menucustom></menucustom>

    <div class="contentContainer">

<<<<<<< HEAD
 
      <div class="description">
        <h1>GRRR — COMPRAVENTA DE PRODUCTOS ARTESANALES HECHOS EN GALICIA</h1>
=======
      <div class="description">
        <div class="header">
        <h1>PRODUCTOS PARA EL DÍA A DÍA HECHOS EN GALICIA</h1>

        <img src="../assets/shoplocal.gif" alt="Compra local" />
        </div>
>>>>>>> final commit
        <p>
         En GRRR queremos mostrarte algunos de los beneficios de optar por productos artesanos o hechos a mano.
         Esta alternativa a las fábricas de producción en masa es una gran manera de empezar tu viaje como 
         consumidor consciente. Además, con un número creciente de proyectos que se dedican a darle voz a productores
         de toda galicia, ¡cada vez es más fácil apostar por ello!
        </p>
        <p>
          Los productos artesanos son una mejor opción para el medio ambiente, ya que el trabajo hecho a mano 
          conlleva menos producción energética y menos consumo de agua. Además, nuestros aRRRtesáns utilizan 
          materiales naturales y orgánicos, con tal de mantener una filosofía ética con el medio ambiente.
        </p>
        <p>
          Preservamos las tradiciones que han ido pasando de padres a hijos a lo largo de las décadas y que si nadie se encarga 
          de mantenerlas vivas, morirán. Apoyando la artesanía también apoyas la cultura y las tradiciones. Algunos 
          procesos han cambiado, surgen materiales y herramientas nuevas que facilitan el trabajo del artesano, pero 
          la esencia de los productos sigue siendo la misma y un artesano de verdad conoce bien de dónde viene lo que
           hace, cómo lo hacían en el pasado y lo transmitirá a sus aprendices para que no se pierda.
        </p>
        <p>
          Puede haber dos artesanos que hagan exactamente lo mismo pero seguro que cada uno de ellos deja su propia 
          impronta. Un artesano crea sus productos a mano y nunca sale uno igual que el otro. Valorando la originalidad 
          de los productos artesanos reconoces también el trabajo y esfuerzo que hay detrás de ellos.
        </p>
        <p>
          Comprar productos artesanos crea empleos y empodera a comunidades enteras. Si tan solo enfocáramos el 10%
          de nuestras compras a productos locales y artesanales, se generarían varios centenares de nuevos empleos. 
          Además, los salarios aumentarían y los productores locales tendrían 
          más independencia económica para abastecer a sus familias y contribuir a comunidades más potentes y estables.
        </p>
<<<<<<< HEAD
        <router-link class="button" :to="{ name: 'Search' }" tag="button">
          Explora
        </router-link>
      </div>

      <img src="../assets/shoplocal.gif" alt="Compra local" />
      
     <!-- <div class="shop">
        <router-link :to="{ name: 'Shop', params: { id: shop.shopId } }">
          <span> Descubre: </span>
          <h2>{{ shop.name }}</h2></router-link>
      
        <p>
          <router-link
            tag="button"
            class="button"
            :to="{ name: 'Shop', params: { id: shop.shopId } }"
          >
            Comprar</router-link
          >
        </p>
      </div>

      <div class="productsList">

        <p v-show="!products.length">No hay productos para mostrar</p>
        <productcomponent
          v-for="product in products"
          :key="product.id"
          :product="product"
        ></productcomponent>
      </div> -->
=======
      </div>


<div class="marginprod">
<h3>PRODUCTOS MÁS VENDIDOS</h3>
      <div class="productsList">

        <p v-show="!products.length">No hay productos para mostrar</p>
        
        <productcomponent
          v-for="product in products.slice(0,4)"
          :key="product.id"
          :product="product"
        ></productcomponent>
      </div>
      </div>

<div>
        <h3>DESCUBRE TIENDAS 100% GRRR</h3> 
      <div class="shop">
        <shopcomponent
          v-for="shop in shops.slice(0,4)"
          :key="shop.id"
          :shop="shop"
        ></shopcomponent>
      </div> 
      </div>
>>>>>>> final commit
    </div>

    <footercustom></footercustom>

  </div>
</template>

<script>
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
import productcomponent from "@/components/ProductComponent.vue";
<<<<<<< HEAD
=======
import shopcomponent from "@/components/ShopComponent.vue";
>>>>>>> final commit

import axios from "axios";

export default {
  name: "Home",
  components: {
    menucustom,
    footercustom,
<<<<<<< HEAD
    productcomponent
  },
  data() {
    return {
      shop: {},
      products: [],
=======
    productcomponent,
    shopcomponent
  },
  data() {
    return {
      shops: [],
      products: [],
     
>>>>>>> final commit
    };
  },
  methods: {
    getIndex() {
      let self = this;
      axios
<<<<<<< HEAD
        .get(process.env.VUE_APP_API_URL)
        .then(function(response) {
          self.products = response.data.message.products;
          self.shop = response.data.message.promotedShop;
=======
        .get(process.env.VUE_APP_API_URL + "/products")
        .then(function(response) {
          self.products = response.data.result;
        })
        .catch((error) => console.log(error));
    },
    getShops(){
      let self = this;
      axios
        .get(process.env.VUE_APP_API_URL + "/shops")
        .then(function(response) {
          self.shops = response.data.result;
>>>>>>> final commit
        })
        .catch((error) => console.log(error));
    },

    goToShop(id) {
      this.$router.push("/shop/" + id);
    },
  },
  created() {
    this.getIndex();
<<<<<<< HEAD
=======
    this.getShops();
>>>>>>> final commit
  },
};
</script>

<style scoped>

<<<<<<< HEAD
=======
h1{
margin-top:7.5rem;
}

h3{
text-align:center;
margin-top:2rem;
border-bottom: var(--border);
}

>>>>>>> final commit
img{
border-radius:50%;
margin:3rem;
width: 80%;
<<<<<<< HEAD

=======
>>>>>>> final commit
}

p{
text-align: justify;
}

<<<<<<< HEAD
=======
.header{
  columns:2;
  align-items: center;
  text-align: left;
}

>>>>>>> final commit
.shop {
  width: 90vw;
  max-width: 600px;
  padding: 1rem;
<<<<<<< HEAD
  border: var(--border);
  margin: 1rem auto;
}

.shop h2 {
  display: inline-block;
  margin-left: 0;
  padding: 0;
}
=======
  margin: 1rem auto;
}

>>>>>>> final commit

@media (min-width: 1000px) {
  .contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .productsList {
    grid-column: span 2;
<<<<<<< HEAD
  }
}
=======
    margin-left:2rem;
  }

  .shop{
    display:flex;
    flex-direction: row;
    padding:4rem;
  }
}

>>>>>>> final commit
</style>
