<template>
  <div>
    <vue-headful title="Iniciar sesión" />

    <menucustom></menucustom>

    <div class="contentContainer">
      <h2>
        ¡BIENVENIDX ARRRTESÁN!
      </h2>

      <div class="form">
        <input type="text" placeholder="Email" v-model="email" />
        <input :type="passwordFieldType" placeholder="Contraseña" v-model="password"/>
        <button class="switchpassword" type="password" @click="switchVisibility()">
                  <img src="../assets/eye.svg" alt="Ver contraseña" />
        </button>

        <button class="button" @click="login()" :disabled="!email || !password">
          Iniciar sesión
        </button>

        <p>
          ¿Todavía no tienes una cuenta?
          <router-link :to="{ name: 'Register' }">¡Regístrate!</router-link>
        </p>
      </div>
    </div>

    <footercustom></footercustom>

  </div>
</template>

<script>
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";

import { loginUser } from "../api/utils";

import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "Login",
  components: {
    menucustom,
    footercustom,
  },
  data() {
    return {
      email: "",
      password: "",
      passwordFieldType: "password"
    };
  },
  methods: {
    async login() {
      try {
        await loginUser(this.email, this.password);
        this.$router.go(-1);
      } catch (error) {
        console.log(error);
        if (error.response.status === 500) {
          Swal.fire({
            icon: "error",
            title: "¡Error fatalísimo!",
            text: "Estamos trabajando en solucionar este error cuanto antes, por favor inténtalo más tarde",
<<<<<<< HEAD
            confirmButtonText: "¡Chachi!",
=======
            confirmButtonText: "Ok",
>>>>>>> final commit
            buttonsStyling: false,
          });
        } else if (error.response.status === 403) {
          Swal.fire({
            icon: "error",
            title: "¡Ups! Cuenta no verificada",
            text:
              "Te hemos mandado un email con un código de verificación a tu correo, por favor revisa tu carpeta de spam",
            showCancelButton: true,
<<<<<<< HEAD
            cancelButtonText: "¡Chachi!",
=======
            cancelButtonText: "Ok",
>>>>>>> final commit
            confirmButtonText: "Reenviar email",

            buttonsStyling: false,
          }).then((result) => {
            if (result.value) {
              this.resendMail();
            }
          });
        } else {
          Swal.fire({
            icon: "error",
            title: "¡Ups! Email o contraseña incorrectos",
<<<<<<< HEAD
            confirmButtonText: "¡Chachi!",
=======
            confirmButtonText: "Ok",
>>>>>>> final commit
            buttonsStyling: false,
          });
        }
      }
    },
    resendMail() {
      console.log("enviando");
      const self = this;
      axios
        .post(process.env.VUE_APP_API_URL + "/users/resendmail", {
          email: self.email,
        })
        .then(
          Swal.fire({
            icon: "success",
            title: "Email reenviado",
            text: "Te hemos vuelto a mandar el email con el código de verificación a tu correo, no olvides mirar en tu carpeta de spam",
            confirmButtonText: "Ir a Inicio",
            buttonsStyling: false,
          }).then(
            this.$router.go(-1)
            //   self.$router.push("/cart");
          )
        )
        .catch((error) => console.log(error));
    },
    switchVisibility(){
      this.passwordFieldType=this.passwordFieldType === 'password' ? 'text' : 'password'
    }
  },
};
</script>

<style scooped>
.form {
  padding: 2rem;
  width: 80%;
  max-width: 30rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--border);
}

.switchpassword{
background:white;
border:none;
}

img{
width:30px;
}

input {
  width: 80%;
  max-width: 15rem;
  height: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-top: 1rem;
}
</style>
