<template>
  <div class="orders">

<<<<<<< HEAD
    <vue-headful title="Tus pedidos" />
=======
    <vue-headful title="Mis pedidos" />
>>>>>>> final commit

    <menucustom></menucustom>

    <div class="contentContainer">

      <usermenu></usermenu>

<<<<<<< HEAD
      <h1>TUS PEDIDOS</h1>
=======
      <h1>MIS PEDIDOS</h1>
>>>>>>> final commit

      <p v-show="!orders">¡No tienes ninngún pedido todavía!</p>

      <div class="order" v-for="order in orders" :key="order.id">
        <div class="header">
          <p>
            <strong>{{ new Date(order.sell_date).toLocaleString() }}</strong>
          </p>
          <p>Enviado a: {{ order.alias }}</p>
          <p>Precio total: {{ order.price }}€</p>
        </div>
        <ordercomponent
          v-for="product in order.products"
          :key="product.id"
          :product="product"
        ></ordercomponent>
      </div>

    </div>

    <footercustom></footercustom>

  </div>
</template>

<script>

import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
import ordercomponent from "@/components/OrderComponent.vue";
import usermenu from "@/components/UserMenu.vue";

import axios from "axios";

export default {
  name: "Orders",
  components: {
    menucustom,
    footercustom,
    ordercomponent,
    usermenu,
  },
  data() {
    return {
      orders: [],
    };
  },
  methods: {
    getOrders() {
<<<<<<< HEAD
      var self = this;
=======
      let self = this;
>>>>>>> final commit
      axios
        .get(process.env.VUE_APP_API_URL + "/orders")
        .then(function(response) {
          self.orders = response.data.result;
        })
        .catch((error) => console.log(error));
    },
  },
  created() {
    this.getOrders();
  },
};
</script>

<style scoped>
.order {
  width: 90vw;
  max-width: 800px;
  margin: 4rem auto;
  border: var(--border);
  padding: 1rem;
  background:black;
<<<<<<< HEAD

=======
>>>>>>> final commit
}

.header {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  color:white;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
  }
}
</style>
