<template>
  <div class="product">
    <vue-headful :title="product.name"/>

    <menucustom></menucustom>

    <div class="contentContainer">

      <div class="title">
        <h1>{{ product.name }}</h1>
        <router-link :to="{ name: 'Shop', params: { id: product.shopId } }">
          <h2>de {{ product.shopName }}</h2></router-link>
      </div>
      <figure>
        <img :src="getImageName(product.photo)"  />
      </figure>
      <div class="info">
        <p class="description">{{ product.description }}</p>
        <p
          class="availability"
          :style="{
            color: !product.available
              ? red
              : product.type === 'ready'
              ? green
              : orange,
          }"
        >
          ♥ {{ !product.available ? "No disponible" : "Disponible"}} ♥
        </p>
<<<<<<< HEAD

=======
  
>>>>>>> final commit
        <p class="ratingHearts">
          <heart-rating :rating="+product.avgRating || 0" :read-only="true" :show-rating="false"></heart-rating>
         Votos | {{ product.votes }}
        </p>

<<<<<<< HEAD
=======

>>>>>>> final commit
        <p class="price">{{ product.price }} €</p>

        <button class="button" @click="addToCart()" :disabled="!product.available">
          Añadir al carrito
        </button>
        <button class="button" @click="addToWishlist()">
          Añadir a la lista de deseos
        </button>
      </div>

      <div class="reviews">
        <ratingcomponent v-if="reviews[0]" :reviews="reviews"></ratingcomponent>
        <p v-else>No hay reseñas de este producto</p>
      </div>

<<<<<<< HEAD
  <h2>Productos relacionados: </h2>
=======
      <h2>Otros productos de {{ product.shopName }}</h2>
>>>>>>> final commit
      <div class="productsList">
        
        <p v-show="!products.length">No hay productos para mostrar</p>
        <productcomponent
          v-for="product in products"
          :key="product.id"
          :product="product"
        ></productcomponent>
      </div>
    </div>

    <footercustom></footercustom>

  </div>
</template>

<script>
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
import productcomponent from "@/components/ProductComponent.vue";
import ratingcomponent from "@/components/RatingComponent.vue";

import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "Product",
  components: {
    menucustom,
    footercustom,
    productcomponent,
    ratingcomponent,
  },
  data() {
    return {
      product: {},
      reviews: [],
      products: [],
      red: "#D1345B",
      green:  "#34D1BF",
      orange: "#FF8C00",
    };
  },
  methods: {
    getProduct() {
<<<<<<< HEAD
      var self = this;
=======
      let self = this;
>>>>>>> final commit
      axios
        .get(process.env.VUE_APP_API_URL + "/products/" + self.$route.params.id)
        .then(function(response) {
          //console.log(response.data.product.photo.data);
          self.product = response.data.product;
          self.reviews = response.data.ratings;
          self.products = response.data.relatedProducts;
        })
        .catch((error) => console.log(error));
    },

    addToCart() {
<<<<<<< HEAD
      var self = this;
=======
      let self = this;
>>>>>>> final commit
      axios
        .post(
          process.env.VUE_APP_API_URL + "/orders/cart/" + self.$route.params.id
        )
        .then(function(response) {
            Swal.fire({
            icon: "success",
            title: "Producto añadido al carrito",
            showCancelButton: true,
            cancelButtonText: "Seguir comprando",
<<<<<<< HEAD
            confirmButtonText: "Shopping cart",
=======
            confirmButtonText: "Terminar y pagar",
>>>>>>> final commit
            buttonsStyling: false,
          }).then((result) => {
            if (result.value) {
              self.$router.push("/cart");
            }
          });
        })
        .catch((error) => {
          console.log(error.response.status, error.response.data.message);
          if (error.response.status === 401) {
            this.swalLogin();
          }
        });
    },

    addToWishlist() {
<<<<<<< HEAD
      var self = this;
=======
      let self = this;
>>>>>>> final commit
      axios
        .post(
          process.env.VUE_APP_API_URL + "/wishlist/" + self.$route.params.id
        )
        .then(function(response) {
          Swal.fire({
            icon: "success",
            title: "Producto añadido a tu lista de deseos",
<<<<<<< HEAD
            confirmButtonText: "¡Chachi!",
=======
            confirmButtonText: "Ok",
>>>>>>> final commit
            buttonsStyling: false,
          });
        })
        .catch((error) => {
          console.log(error.response.status, error.response.data.message);
          if (error.response.status === 409) {
            Swal.fire({
              icon: "error",
              title: "Este producto ya se encontraba en tu lista de deseos ",
<<<<<<< HEAD
              confirmButtonText: "¡Chachi!",
=======
              confirmButtonText: "Ok",
>>>>>>> final commit
              buttonsStyling: false,
            });
          } else if (error.response.status === 401) {
            this.swalLogin();
          }
        });
    },
   getImageName(name){
      return "http://localhost:3000/uploads/" + name;
      console.log(name)
    },

    swalLogin() {
      Swal.fire({
        icon: "error",
        title: "¡Ups! Parece que no has iniciado sesión",
        showCancelButton: true,
        cancelButtonText: "Seguir mirando",
        confirmButtonText: "Iniciar sesión",
        buttonsStyling: false,
      }).then((result) => {

        if (result.value) {
          this.$router.push("/login");
        }
      });
    },
  },
  created() {
    this.getProduct();
  },
  watch: {
    $route() {
      this.$router.go();
    },
  },
};
</script>

<style scoped>
<<<<<<< HEAD
p{
  margin:1rem;
}
=======

p{
  margin:1rem;
}

>>>>>>> final commit
img {
  width: 500px;
  max-width: 90vw;
  margin: 1rem;
  border: var(--border);
<<<<<<< HEAD

=======
>>>>>>> final commit
}

.ratingHearts {
  margin: 1rem;
}

.price {
  font-size: 2rem;
}

h3{
margin-top:15%;
text-align: justify;
}

.productsList{
  margin-top:5%;
}

<<<<<<< HEAD
=======

>>>>>>> final commit
@media (min-width: 1000px) {
  .contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-template-areas:
      "img title"
      "img info";
  }

  figure {
    grid-area: img;
  }

  .title {
    grid-area: title;
    align-self: flex-end;
  }

  .info {
    grid-area: info;
    align-self: flex-start;
  }

  .productsList, .reviews {
    grid-column: span 2;
  }
}
</style>
