<template>
  <div>
    <vue-headful title="Register"/>

    <menucustom></menucustom>

    <div class="contentContainer">
      <h2>
        ¡EMPIEZA A FORMAR PARTE!
      </h2>


      <div class="form">
        <p class="error" v-show="errorMessage">{{ errorMessage }}</p>


        <label for="email">Email:</label>
        <input
          type="text"
          name="email"
          placeholder="Email"
          v-model="email"
        />
        <br />

        <label for="password">Contraseña:</label>
        <input
          type="password"
          name="password"
          min="6"
          max="20"
          placeholder="Contraseña"
          v-model="password"
        />
        <br />

        <label for="repeatPassword">Repite la contraseña:</label>
        <input
          type="password"
          name="repeatPassword"
          placeholder="Repite la contraseña"
          v-model="repeatPassword"
        />
        <br />

        <button class="button" @click.prevent="registerUser(email, password)">
          Registro
        </button>
      </div>
    </div>

    <footercustom></footercustom>

  </div>
</template>

<script>
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";

import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "Register",
  components: {
    menucustom,
    footercustom,
  },
  data() {
    return {
      email: "",
      password: "",
      repeatPassword: "",

      errorMessage: "",
      correctData: false,
    };
  },
  methods: {
    validatingData() {
      if (
        !this.email ||
        !this.password ||
        !this.repeatPassword 
      ) {
        this.errorMessage = "* Hay campos vacíos"; 
        this.correctData = false; 
      } else if (this.password.length < 8 || this.password.length > 20) {
        this.errorMessage = "* La contraseña debe tener entre 8 y 20 caracteres"; 
        this.correctData = false; 
      } else if (this.password !== this.repeatPassword) {
        this.errorMessage = "* Las contraseñas no coinciden"; 
        this.correctData = false; 
      } else {
        console.log("send");
        this.correctData = true; 
        this.errorMessage = ""; 
      }
    },

    registerUser(email, password) {
      this.validatingData(); 
      if (this.correctData) {
        const self = this;
        console.log(process.env.VUE_APP_API_URL);
        axios
          .post(process.env.VUE_APP_API_URL + "/users", {
            email: self.email,
            password: self.password,
          })
          .then(function(response) {
            self.emptyFields();

            Swal.fire({
              icon: "success",
              title: "¡Ya casi eres un aRRRtesán!",
              text: "Te hemos mandado un email con un código de verificación a tu correo. No olvides mirar la carpeta de spam por si nos colamos ahí. ¡Nos vemos pronto!",
<<<<<<< HEAD
              confirmButtonText: "¡Chachi!",
=======
              confirmButtonText: "Ok",
>>>>>>> final commit
              buttonsStyling: false,
            }).then(
              (result) => self.$router.go(-1)
            );
          })
          .catch((error) => {
            console.log(error.response.status, error.response.data.message);

            if (error.response.status === 409) {
              Swal.fire({
                icon: "error",
                title: "Email inválido",
                text: "Este email ya está asociado a una cuenta GRRR",
<<<<<<< HEAD
                confirmButtonText: "¡Chachi!",
=======
                confirmButtonText: "Ok",
>>>>>>> final commit
                buttonsStyling: false,
              });
            } else if (error.response.status === 400) {
              Swal.fire({
                icon: "error",
                title: "Email inválido",
                text: "Por favor, introduce un email válido",
<<<<<<< HEAD
                confirmButtonText: "¡Chachi!",
=======
                confirmButtonText: "Ok",
>>>>>>> final commit
                buttonsStyling: false,
              });
            } else {
              Swal.fire({
                icon: "error",
                title: "¡Error fatalísimo!",
                text: "Estamos trabajando para solucionar este problema cuanto antes, inténtalo de nuevo más tarde.",
<<<<<<< HEAD
                confirmButtonText: "¡Chachi!",
=======
                confirmButtonText: "Ok",
>>>>>>> final commit
                buttonsStyling: false,
              });
            }
          });
      }
    },

    emptyFields() {
      this.email = "";
      this.password = "";
      this.repeatPassword = "";
    },
  },
};
</script>

<style scoped>
p {
  color:var(--link-color);
  padding-bottom: 1rem;
}

.form {
  padding: 1rem;
  width: 80%;
  max-width: 30rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--border);
}

input {
  width: 80%;
  max-width: 15rem;
  height: 2rem;
  margin-bottom: 1rem;
}
</style>
