<template>
  <div class="search">

    <vue-headful title="GRRR — Descubre" />

<<<<<<< HEAD
    <menucustom :showSearch="false"></menucustom>
=======
 <router-link id="home" :to="{ name: 'Home' }">
      <img src="../assets/GRRR.png" alt="GRRR logo" />
    </router-link>
>>>>>>> final commit

    <div class="contentContainer">
      <h1>DESCUBRE</h1>
      <p class="description">
<<<<<<< HEAD
        Encuentra productos por palabra clave, categoría, disponibilidad, tipo, precio y/o valoración de otros arrrtesáns
=======
        Encuentra productos por palabra clave, categoría, disponibilidad, precio y/o valoración de otros arrrtesáns
>>>>>>> final commit
      </p>

      <form>

        <label for="words">
          <input
            type="text"
            name="words"
            placeholder="¿Qué andas buscando?"
            v-model="search.words"
        /></label>


        <select name="category" id="category" v-model="search.category">
          <option value>Categoría</option>
          <option
            v-for="category in categories"
            :key="category.id"
            :value="category.category"
            >{{ category.category }}</option
          >
        </select>

        <input
          name="available"
          placeholder="Check to show only available products"
          type="checkbox"
          id="available"
          value="available"
          v-model="search.available"
        />
        <label for="available">Sólo productos disponibles</label>

        <div class="rangeprice">
        <p>Precio mínimo | Precio máximo</p>
        <p class="search">
          {{ search.minPrice }}€ <input
            type="range"
            id="minPrice"
            name="minPrice"
            :min="searchDefault.minPrice"
            :max="searchDefault.maxPrice"
            v-model="search.minPrice"
          />

          <input
            type="range"
            id="maxPrice"
            name="maxPrice"
            :min="searchDefault.minPrice"
            :max="searchDefault.maxPrice"
            v-model="search.maxPrice"
          />
          {{ search.maxPrice }}€
        </p>
        </div>

        <div class="heartrating">
          <p>Valoración:</p>
        <heart-rating class="heart"
           v-model="search.rating"
          :show-rating="false"
        ></heart-rating>
        </div>
      </form>

      <button class="button" @click="resetSearch()">Cancelar</button>

      <div class="productsList">
        <p v-show="!filterProducts.length">No hay productos para mostrar</p>
        <productcomponent
          v-for="product in filterProducts"
          :key="product.id"
          :product="product"
        ></productcomponent>
      </div>
    </div>

    <footercustom></footercustom>

  </div>
</template>

<script>
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
import productcomponent from "@/components/ProductComponent.vue";

import axios from "axios";

export default {
  name: "Search",
  components: {
    menucustom,
    footercustom,
    productcomponent,

  },
  data() {
    return {
      products: [],
      categories: [],
<<<<<<< HEAD
      icon: process.env.VUE_APP_ICON,
=======
>>>>>>> final commit

      searchDefault: {
        available: false,
        words: "",
<<<<<<< HEAD
        maxPrice: 100,
=======
        maxPrice: 50,
>>>>>>> final commit
        minPrice: 0,
        category: "",
        type: "",
        rating: 0,
      },

      search: {
        available: false,
        words: "",
<<<<<<< HEAD
        maxPrice: 100,
=======
        maxPrice: 50,
>>>>>>> final commit
        minPrice: 0,
        category: "",
        type: "",
        rating: 0,

      },
    };
  },
  methods: {
    getProducts() {
<<<<<<< HEAD
      var self = this;
=======
      let self = this;
>>>>>>> final commit
      axios
        .get(process.env.VUE_APP_API_URL + "/products")
        .then(function(response) {
          self.products = response.data.result;
          self.categories = response.data.categories;
        })
        .catch((error) => console.log(error));
    },
<<<<<<< HEAD
    customLabel({ name}) {
=======
    customLabel({name}) {
>>>>>>> final commit
      return name;
    },

    resetSearch() {
      for (const key in this.search) {
        this.search[key] = this.searchDefault[key];
      }
    },
  },
  created() {
    this.getProducts();
    this.resetSearch();
    if (this.$route.query && this.$route.query.words) {
      this.search.words = this.$route.query.words;
    }
  },

  computed: {
    filterProducts() {
      let result = this.products;
      let search = this.search;

<<<<<<< HEAD
=======
      /* By category */
>>>>>>> final commit
      if (search.category) {
        result = result.filter(
          (product) => product.category === search.category
        );
      }

<<<<<<< HEAD
      if (search.type) {
        result = result.filter((product) => product.type === search.type);
      }

=======
      /* By maxPrice */
>>>>>>> final commit
      if (Number(search.maxPrice) < this.searchDefault.maxPrice) {
        result = result.filter(
          (product) => Number(product.price) <= Number(search.maxPrice)
        );
      }

<<<<<<< HEAD
=======
      /* By minPrice */
>>>>>>> final commit
      if (Number(search.minPrice) > this.searchDefault.minPrice) {
        result = result.filter(
          (product) => Number(product.price) >= Number(search.minPrice)
        );
      }

      /* By key words */
      if (search.words) {
        const wordArray = search.words.split(" ");
        for (const word of wordArray) {
          result = result.filter(
            (product) =>
              product.name.toLowerCase().includes(word.toLowerCase()) ||
              product.description.toLowerCase().includes(word.toLowerCase())
          );
        }
      }

<<<<<<< HEAD
      
=======
      /* By rating */
>>>>>>> final commit
      if (search.rating) {
        result = result.filter(
          (product) => Number(product.avgRating) >= search.rating
        );
      }

<<<<<<< HEAD

=======
      /* By availability */
>>>>>>> final commit
      if (search.available) {
        result = result.filter((product) => product.available);
      }

      return result;
    },
  },
};
</script>

<style scoped>

.heartrating{
  margin-top:1rem;
<<<<<<< HEAD
  
}
.heart{
  align-self:center;
=======
}
.heart{
  align-self:center;
  margin-left:30rem;
  margin-top:2rem;
>>>>>>> final commit
}

.rangeprice{
  margin-top:1rem;
}

<<<<<<< HEAD
=======
/* Min/Max selector */
>>>>>>> final commit
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 12px;
  cursor: pointer;
  color:black;
  border-radius: 25px;
  border: 1px solid black;
}

input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  color:black;
  border-radius: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.5px;
  background:black;
}

input[type=range]::-moz-range-track {
  height: 12.8px;
  cursor: pointer;
  color:black;
<<<<<<< HEAD

=======
>>>>>>> final commit
  border: 1px solid black;
  border-radius: 0%;
}

input[type=range]::-moz-range-thumb {
  height: 20px;
  width:20px;
  border-radius: 50%;;
  cursor: pointer black; 
  color:black;
<<<<<<< HEAD
  
=======
>>>>>>> final commit
}

input[type=range]::-ms-track {
  height: 12.8px;
  cursor: pointer;
  color:black;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  border-radius: 50%; 
}

input[type=range]::-ms-fill-upper {
<<<<<<< HEAD

=======
>>>>>>> final commit
  border-radius: 0%; 
}

input[type=range]::-ms-thumb {
  height: 20px;
  border-radius: 7px;
  cursor: pointer;
  background: black;
  color:black;
}

input[type=range]:focus::-ms-fill-lower {
  background: var(--link-color);
}

input[type=range]:focus::-ms-fill-upper {
  background: var(--link-color);
}
<<<<<<< HEAD
=======
/* Min/Max selector */
>>>>>>> final commit

body {
  padding: 30px;
}

#available {
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
  margin-right: 0.2rem;
  margin-bottom: 0;
}

select,
input {
  height: 2rem;
}

<<<<<<< HEAD
=======
img{
  width:100px;
  margin-top: 0.7rem;
}

>>>>>>> final commit
</style>
