<template>
  <div class="shop">
    <vue-headful :title="shop.name" />

    <menucustom></menucustom>

    <div class="contentContainer">

      <div class="title">
<<<<<<< HEAD
        <h1>{{ shop.name }}</h1>
=======
        <h1>Bienvenidx a {{ shop.name }}</h1>
>>>>>>> final commit
      
      <nav class=rrss>
        
          <a
            v-show="shop.instagram"
            class="icon"
            :href="shop.instagram"
            target="_blank"
            rel="noopener noreferrer"
<<<<<<< HEAD
            > Sigue su trabajo en redes sociales →      
          <img src="../assets/instagram.svg" alt="Instagram logo" />
          </a>
      </nav>
      </div>
=======
            > ¡Sigue nuestro trabajo en Instagram!     
          <img src="../assets/instagram.svg" alt="Instagram logo" class="icon"/>
          </a>
      </nav>

      </div>
            <img class="photo" src="../assets/shopindependent.png" alt="Do it yourself" />

>>>>>>> final commit
      <p class="description">{{ shop.description }}</p>
      <div class="productsList">
        
        <p v-show="!products.length">No hay productos para mostrar</p>
        <productcomponent
          v-for="product in products"
          :key="product.id"
          :product="product"
        ></productcomponent>
      </div>

    
    </div>
<<<<<<< HEAD
      <img class="decoration" src="../assets/shoplocal.gif" alt="Compra local" />
=======
>>>>>>> final commit

    <footercustom></footercustom>

  </div>
</template>

<script>
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
import productcomponent from "@/components/ProductComponent.vue";

import axios from "axios";

export default {
  name: "Shop",
  components: {
    menucustom,
    footercustom,
    productcomponent,
  },
  data() {
    return {
      shop: {},
      products: [],
    };
  },
  methods: {
    getShop() {
<<<<<<< HEAD
      var self = this;
=======
      let self = this;
>>>>>>> final commit
      axios
        .get(process.env.VUE_APP_API_URL + "/shops/" + self.$route.params.id)
        .then(function(response) {
          console.log(response);
          self.shop = response.data.message;
          self.products = response.data.message.products;
        })
        .catch((error) => console.log(error));
    },
  },
  created() {
    this.getShop();
  },
};
</script>

<style scoped>
h1 {
<<<<<<< HEAD
  margin-top: -50rem;
  text-align:center
}

p {
margin-top:-35rem;
margin-left:20rem;
text-align: justify;

}

=======
  text-align:center
}

>>>>>>> final commit
.rrss {
  margin: 1rem;
}

<<<<<<< HEAD
img{
  width:10%;
}

.decoration{
  border-radius: 50%;
  width:40%;
}

.icon {
  font-size: 1.5rem;
  margin: 1rem;
=======
.photo{
  width:90%;
  margin:2rem;
  height:100%;
}

img{
  width:5%;
}
.icon {
  font-size: 1.5rem;
  margin: 1rem;

}

p{
  text-align: justify;
>>>>>>> final commit
}


@media (min-width: 1000px) {
  .contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
<<<<<<< HEAD

=======
    grid-template-areas:
      "title photo"
      "info photo";
  }

  img{
    grid-area:photo;
>>>>>>> final commit
  }

  .title {
    grid-area: title;
    align-self: flex-end;
  }

  .description {
    grid-area: info;
    align-self: flex-start;
  }

  .productsList {
    grid-column: span 2;
  }
}
</style>
