<template>
  <div class="search">

    <vue-headful title="GRRR — Validación de cuenta" />

    <footercustom></footercustom>

  </div>
</template>

<script>
import footercustom from "@/components/FooterCustom.vue";

import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "Validation",
  components: {
    footercustom,
  },
  data() {
    return {
    };
  },
  methods: {
    validate() {
<<<<<<< HEAD
      var self = this;
=======
      let self = this;
>>>>>>> final commit
      const { code } = self.$route.query;
      let url = "/users/validate?code=" + code;
      axios
        .get(process.env.VUE_APP_API_URL + url)
        .then(function(response) {
          Swal.fire({
            icon: "success",
            title: "¡Bienvenido aRRRtesán!",
<<<<<<< HEAD
            confirmButtonText: "Iniciar sesión",
            buttonsStyling: false,
          }).then(
            (result) => self.$router.push("/login")
=======
            confirmButtonText: "Inincio",
            buttonsStyling: false,
          }).then(
            (result) => self.$router.push("/")
>>>>>>> final commit
          );
        })
        .catch((error) => {
          console.log(error);
          Swal.fire({
<<<<<<< HEAD
            icon: "error",
            title: "¡Bienvenido aRRRtesán!",
        
            confirmButtonText: "Inicia sesión",
=======
            icon: "sucess",
            title: "¡Bienvenido aRRRtesán!",
            confirmButtonText: "Iniciar sesión",
>>>>>>> final commit
            buttonsStyling: false,
          }).then(
            (result) => self.$router.push("/login")
          );
        });
    },
  },
  created() {
    this.validate();
  },
};
</script>

<style scoped></style>
