<template>
  <div class="wishlist">

    <!-- PRUEBA DEL SPINNER SÓLO EN WISHLIST Y EN APP -->
  
    <vue-headful title="Lista de deseos" />

    <menucustom></menucustom>

    <div class="contentContainer">

      <input id="shareLink" type="text" v-model="shareLink" />

<<<<<<< HEAD

      <h2>
        TU LISTA DE DESEOS, {{ userName }}
        <button
          v-show="isOwner"
          @click="copyShareLink()"
          icon="share"
        >Copiar al portapapeles</button>
      </h2>


=======
      <h2>
        TU LISTA DE DESEOS, {{ userName }}
        <!--BUSCAR UN ICONO DE COPIAR AL PORTAPAPELES-->
        <!-- <button
          v-show="isOwner"
          @click="copyShareLink()"
          icon="share"
        >Copiar al portapapeles</button> -->
      </h2>

>>>>>>> final commit
      <div class="productsList">
        <p v-show="!products.length && !loading">No hay productos para mostrar</p>
        <productcomponent
          v-for="(product, index) in products"
          :key="product.id"
          :product="product"
          :showDelete="isOwner"
          v-on:delete="deleteProduct(index)"
        ></productcomponent>
      </div>
    </div>

    <footercustom></footercustom>

  </div>
</template>

<script>
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
import productcomponent from "@/components/ProductComponent.vue";

import axios from "axios";
import Swal from "sweetalert2";

import { getUserId } from "../api/utils";

export default {
  name: "Wishlist",
  components: {
    menucustom,
    footercustom,
    productcomponent
  },
  data() {
    return {
      loading: true,
      products: [],
      userName: "User",
      isOwner: getUserId() === this.$route.params.userId,
      shareLink: process.env.VUE_APP_BASE_URL + this.$route.fullPath,
    };
  },
  methods: {
    getProducts() {
<<<<<<< HEAD
      var self = this;
=======
      let self = this;
>>>>>>> final commit
      axios
        .get(
          process.env.VUE_APP_API_URL + "/wishlist/" + self.$route.params.userId
        )
        .then(function(response) {
          const name = response.data.user[0].first_name;
          self.products = response.data.result;
          if (name) {
            self.userName = name;
          }
          self.loading = false;
        })
        .catch((error) => console.log(error));
    },

    deleteProduct(index) {
      const productId = this.products[index].id;
      axios
        .delete(process.env.VUE_APP_API_URL + "/wishlist/" + productId)
        .then(function(response) {
          Swal.fire({
            icon: "success",
            title: "Producto eliminado de la lista de deseos",
<<<<<<< HEAD
            confirmButtonText: "¡Chachi!",
=======
            confirmButtonText: "Ok",
>>>>>>> final commit
          }).then((result) => {
            location.reload();
          });
        })
        .catch((error) => console.log(error));
    },


    copyShareLink() {
      const link = document.querySelector("#shareLink");
      link.select();
      document.execCommand("copy");

<<<<<<< HEAD

      Swal.fire({
        icon: "success",
        title: "Acabas de copiar el enlace al portapapeles",
        text: "Comparte este producto con quien quieras ♥",
        confirmButtonText: "¡Chachi!",
=======
      Swal.fire({
        icon: "success",
        title: "¡Enlace copiado al portapapeles!",
        text: "Comparte este producto con quien quieras ",
        confirmButtonText: "Ok",
>>>>>>> final commit
      });
    },
  },
  created() {
    this.getProducts();
  },
  watch: {
    $route() {
      this.$router.go();
    },
  },
};
</script>

<style scoped>
<<<<<<< HEAD
=======

>>>>>>> final commit
#shareLink {
  position: absolute;
  top: -1000px;
}
<<<<<<< HEAD
=======

>>>>>>> final commit
</style>
